Dectionaries

In [1]:
d1={}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [2]:
d2={1:"Welcome",2:"to",3:"Python",4:"tutorial"}
print(d2)

{1: 'Welcome', 2: 'to', 3: 'Python', 4: 'tutorial'}

In [3]:
d3={"name":"sam","Age":22,"profession":"tutorial"}
d3

{'name': 'sam', 'Age': 22, 'profession': 'tutorial'}

In [4]:
d4=dict({1:"Welcome",2:"to",3:"Python",4:"tutorial"})
d4

{1: 'Welcome', 2: 'to', 3: 'Python', 4: 'tutorial'}

In [8]:
d5=dict([(1,"Welcome"),(2,"to"),(3,"Python"),(4,"tutorial")])
d5

{1: 'Welcome', 2: 'to', 3: 'Python', 4: 'tutorial'}

In [9]:
d6={"name":{"first":"sam","last":"crew"},"age":22,"profession":"student"}
d6

{'name': {'first': 'sam', 'last': 'crew'}, 'age': 22, 'profession': 'student'}

Adding elements

In [11]:
d= {}
d[0]="Welcome"
print(d)

{0: 'Welcome'}

In [12]:
d[1]=("how","are","you")
print(d)

{0: 'Welcome', 1: ('how', 'are', 'you')}

In [13]:
d["name"]="sam"
print(d)

{0: 'Welcome', 1: ('how', 'are', 'you'), 'name': 'sam'}

In [14]:
d["name"]={"first":"sam","last":"crew"}
print(d)

{0: 'Welcome', 1: ('how', 'are', 'you'), 'name': {'first': 'sam', 'last': 'crew'}}

Accessing element

In [15]:
print(d)

{0: 'Welcome', 1: ('how', 'are', 'you'), 'name': {'first': 'sam', 'last': 'crew'}}

In [16]:
print(d["name"])

{'first': 'sam', 'last': 'crew'}

In [17]:
print(d["name"]["first"])

sam

In [18]:
print(d.get(1))

('how', 'are', 'you')

@Deleting element

In [20]:
print(d)

{0: 'Welcome', 1: ('how', 'are', 'you'), 'name': {'first': 'sam', 'last': 'crew'}}

In [21]:
d.pop(0)

'Welcome'

In [22]:
print(d)

{1: ('how', 'are', 'you'), 'name': {'first': 'sam', 'last': 'crew'}}

In [23]:
d.popitem()

('name', {'first': 'sam', 'last': 'crew'})

In [24]:
print(d)

{1: ('how', 'are', 'you')}

In [25]:
print(d)

{1: ('how', 'are', 'you')}

built in functions

In [26]:
d.values()

dict_values([('how', 'are', 'you')])

In [27]:
keys={'a','b','c','d'}
value=1
dict.fromkeys(keys,value)

{'c': 1, 'b': 1, 'a': 1, 'd': 1}

In [28]:
d.clear()

In [29]:
print(d)

{}

SETS

In [30]:
s=set([1,2,3,4])
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [31]:
s.add('a')
print(s)

{1, 2, 3, 4, 'a'}

In [32]:
fs=frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [33]:
fs.add('a')

AttributeError: 'frozenset' object has no attribute 'add'

In [34]:
s1=set([1,3,7,2])
s2=set([3,2,8,9])
s1.union(s2)

{1, 2, 3, 7, 8, 9}

In [35]:
s1.difference(s2)

{1, 7}

Operations

In [36]:
s1==s2

False

In [37]:
s1>s2

False

In [38]:
1in s1

True

In [39]:
61 in s1

False

In [40]:
1 not in s1

False

In [41]:
s1^s2

{1, 7, 8, 9}