In [1]:
emp=()
print(type(emp))

<class 'tuple'>

In [2]:
print(emp)

()

In [4]:
city="pune",

In [5]:
type(city)

tuple

In [6]:
print(city)

('pune',)

In [13]:
city=("pune","Bengalore","Chennai","Andhra Pradesh")
city

('pune', 'Bengalore', 'Chennai', 'Andhra Pradesh')

In [14]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [15]:
taple1.append(5)

NameError: name 'taple1' is not defined

In [16]:
print(city)

('pune', 'Bengalore', 'Chennai', 'Andhra Pradesh')

In [17]:
city[1]

'Bengalore'

In [18]:
city[-1]

'Andhra Pradesh'

In [20]:
#Concatenation

In [21]:
print(city)

('pune', 'Bengalore', 'Chennai', 'Andhra Pradesh')

In [22]:
num=1,2,3,4

In [23]:
print(city+num)

('pune', 'Bengalore', 'Chennai', 'Andhra Pradesh', 1, 2, 3, 4)

@Nesting

In [25]:
nest=(city,num)
print(nest)

(('pune', 'Bengalore', 'Chennai', 'Andhra Pradesh'), (1, 2, 3, 4))

Repetation

In [27]:
rep=("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [28]:
print(rep*10)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [29]:
rep=("Python",)
print(rep*10)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [30]:
rep

('Python',)

Slicing

In [31]:
num

(1, 2, 3, 4)

In [32]:
num[1:]

(2, 3, 4)

In [33]:
num[::-1]

(4, 3, 2, 1)

Unpacking

In [34]:
tuple("simplilearn")

('s', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n')

In [35]:
print(num)

(1, 2, 3, 4)

In [36]:
a,b,c,d=num
print(a,b,c,d)

1 2 3 4

In [37]:
a,*b,c=num
print(a,b,c)

1 [2, 3] 4

Deleting a tuple

In [40]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [41]:
del tuple1

In [42]:
print(tuple1)

NameError: name 'tuple1' is not defined

Built in function

In [43]:
num1=(3,5,2,2,2,2,6,5,8)
num1.count(2)

4

In [44]:
sum(num1)

35

In [45]:
len(num1)

9

In [46]:
max(num1)

8

In [47]:
min(num1)

2

convert List and Tuple

In [48]:
list=[1,2,3,4,5]
print(type(list))

<class 'list'>

In [49]:
tpl=tuple(list)

In [50]:
print(tpl)

(1, 2, 3, 4, 5)

In [51]:
type(tpl)

tuple

Nesting tuples in a list

In [52]:
lst=[(1,2,3,4),(5,6,7,8)]
print(lst)

[(1, 2, 3, 4), (5, 6, 7, 8)]

In [53]:
lst.append(("tuple","inside","list"))
print(lst)

[(1, 2, 3, 4), (5, 6, 7, 8), ('tuple', 'inside', 'list')]

In [54]:
lst.remove((1,2,3,4))

In [55]:
print(lst)

[(5, 6, 7, 8), ('tuple', 'inside', 'list')]

nesting Lists within tuples

In [57]:
tpl=(['a','b','c'],['d','e','f'])
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [58]:
tpl[0].append('g')

In [59]:
print(tpl)

(['a', 'b', 'c', 'g'], ['d', 'e', 'f'])

In [60]:
tpl[0].remove('g')

In [61]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [62]:
tpl.append(['x','y','z'])
print(tpl)

AttributeError: 'tuple' object has no attribute 'append'

Exercise

In [63]:
series=(0,1,2,3,4,5,6,7,8,9)
series

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [64]:
series1=series+(10,)
print(series1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [65]:
series3=series1[:11]+series[::-1]
series3

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)